body{
  background-color: #201d1d;
  color: white;
  text-align: center;
}
body h3{
  margin-top: 5%;
  margin-bottom: 5%;
}
body .img{
  height: auto;
  width: 400px;
  border: solid;
  border-color: white;
  margin-bottom: 5%;
}
body iframe{
  height: 250px;
  width: 400px;
  border: dashed;
  margin-bottom: 6%;
}

header{
  color: #d3db5e;
  text-align: center;
  border-bottom-style: solid;
  border-color: #d3db5e;
}
header h1, body h2{
  padding-top: 1%;
  padding-bottom: 1%;
}
.carousel img{
  height: 500px;
  width: 900px;
  padding-bottom: 3%;
}
#row{
  border-top-style: solid;
  border-color: #d3db5e;
}
button{
  margin-top: 2.5%
}
#panel{
  text-align: center;
}
#flip{
  font-size: 20px;
}
